img{
    height: 100px;
}

h1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h3{
    font-family: 'Indie Flower', cursive;
}

p{
    text-align: center;
}

a:link{
    color: black;
}

a:visited{
    color:grey;
}

a:hover{
    color:black;
}

.bgg{
    background-color: #F15A26;
}